---
import PianoModule from "../components/PianoModule.jsx";
---

<!-- Container with a white background that will host the piano module as an Astro island -->
<div class="piano-container">
  <PianoModule client:visible />
</div>