/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
*/

:root {
	--bg-color: #ffffff;
	--text-color: #333333;
	--accent: #3ac8da;
	--gray-gradient: linear-gradient(45deg, #ffffff, #e0e0e0);
	--gray-dark: 51, 51, 51;
}

/* Dark mode variables */
[data-theme="dark"] {
	--bg-color: #111111;
	--text-color: #f8f8f8;
	--accent: #0077aa;
	--gray-gradient: linear-gradient(45deg, #111111, #333333);
	--gray-dark: 248, 248, 248;
}

/* Unified body styles that produce a continuous background */
body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	background-image: var(--gray-gradient);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* Ensures the gradient fills the viewport continuously */
	color: var(--text-color);
	font-family: 'Atkinson', sans-serif;
	font-size: 20px;
	line-height: 1.7;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
}

/* Font-face definitions */
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Main container */
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

/* Links */
a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

/* Paragraphs */
p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

/* Textarea and Input */
textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

/* Tables */
table {
	width: 100%;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

/* Code blocks */
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

/* Blockquote */
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

/* Horizontal rules */
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

/* Responsive styles */
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

/* Screen Reader Only */
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}